[submodule "exynize-rest"]
	path = exynize-rest
	url = git@github.com:Exynize/exynize-rest.git
[submodule "exynize-ui"]
	path = exynize-ui
	url = git@github.com:Exynize/exynize-ui.git
[submodule "exynize-runner"]
	path = exynize-runner
	url = git@github.com:Exynize/exynize-runner.git
